*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cube{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.cube div{
    background-color: blue;
    width: 300px;
    height: 300px;
}